@mixin H1{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.1rem;
}

@mixin H2{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
}

@mixin H3{
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

@mixin p-big{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0em;
}

@mixin p-normal{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}

@mixin p-small{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
}

@mixin mobile-h1{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: 1px;
}

@mixin mobile-h3{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
}

@mixin mobile-p-big{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 142%;
}

@mixin mobile-p-normal{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;

}

@mixin mobile-p-small{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: -1;
}

.typography_h1{@include H1;}
.typography_h2{@include H2;}
.typography_h3{@include H3;}

@media (min-width: 1024px){
  .typography_p-big{ @include p-big; }
  .typography_p-normal{ @include p-normal; }
  .typography_p-small{ @include p-small; }
}

@media (max-width: 1024px){
  .typography_p-big{ @include mobile-p-big; }
  .typography_p-normal{ @include mobile-p-big; }
  .typography_p-small{ @include mobile-p-small; }
}

