@use "./common.blocks/header/header.scss";
@use "./common.blocks/header-navigation";
@use "./common.blocks/socials/socials";
@use "./common.blocks/socials/_small-gap";
@use "./common.blocks/content-box/content-box";
@use "./common.blocks/content-box/_large";
@use "./common.blocks/content-box/_small";
@use "./common.blocks/content-box/_flex-d-row";
@use "./common.blocks/content-box/_jc-space-between";
@use "./common.blocks/head";
@use "./common.blocks/page-content";
@use "./common.blocks/slogan";
@use "./common.blocks/footer";
@use "./common.blocks/navigation";
@use "./common.blocks/tour-card";
@use "./common.blocks/history-card";
@use "./common.blocks/review";
@use "./common.blocks/form";
@use "./common.blocks/form-container";
@use "./common.blocks/tour-card-list";
@use "./common.blocks/review-list";
@use "common.blocks/travel-history-card-list";
@use "./common.blocks/travel-gallery";
@use "./common.blocks/header-box";
@use "./common.blocks/user-info";
@use "./common.blocks/tail";
@use "./common.blocks/title";
@use "./common.blocks/sub-title";
@use "./common.blocks/logo";
@use "./common.blocks/title-container";

@use "./ui.blocks/button/button.scss";
@use "./ui.blocks/button/_dark.scss";
@use "./ui.blocks/button/_light.scss";
@use "./ui.blocks/input.scss";
@use "./ui.blocks/label.scss";
@use "./ui.blocks/learn-more-button";
@use "./ui.blocks/radio.scss";
@use "./ui.blocks/dropdown";
@use "./ui.blocks/checkbox";

@use "./typography.blocks/typography.scss";
@use "./typography.blocks/_white.scss";
@use "./typography.blocks/_dim.scss";
