@use "./typography.scss" as t;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url("./images/header-img.png");
  background-position: center;
  background-size: cover;
  .headerBackgroundImg{
    position: absolute;
    z-index: -1;
  }
  .header{
    display: flex;
    width: 100%;
    height: 88px;
    justify-content: center;
    align-items: center;
    .navbarContainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 61%;
      .headerNavigation{
        display: flex;
        justify-content: space-between;
        width: 40%;
        .headerNavigationButton{
          @include t.p-normal;
          color: white;
        }
      }
    }
    .headerLogo{
      height: 33%;
    }
    .headerPhoneNumber{
      @include t.p-normal;
      color: white;
    }
  }
  .headTextContainer{
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .headText{
      @include t.H1;
      color: white;
      text-align: center;
      margin-bottom: 50px;
    }
    .headSubText{
      @include t.p-normal;
      color: white;
      text-align: center;
      margin-bottom: 50px;
    }
    .headButton{
      @include t.p-small;
      color: black;
      height: 34px;
      width: 118px;
      gap: 10px;
      border-radius: 10px;
      border: 0px;
      text-align: center;
    }
  }
}

@media (max-width: 1920px) and (min-width: 1024px){
  .head{
    .headerBackgroundImg{
    }
    .header{
      .headerNavigation{

        .headerNavigationButton{

        }
      }
    }
  }
}