*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  gap: 135px;
}
.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), url("./images/header-img.png");
  background-position: center;
  background-size: cover;
  .headerBackgroundImg{
    position: absolute;
    z-index: -2;
  }
  .header{
    display: flex;
    width: 100%;
    position: sticky;
    height: 88px;
    justify-content: center;
    align-items: center;
    .navbarContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 61%;
      .headerLogo{
        height: 33%;
      }
      .headerNavigation{
        display: flex;
        justify-content: space-between;
        width: 40%;
        .headerNavigationButton{
          color: white;
        }
      }
      .headerPhoneNumber{

        color: white;
      }
    }
  }
  .headTextContainer{
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .headText{

      color: white;
      text-align: center;
    }
    .headSubText{
      color: white;
      text-align: center;
    }
    .headButton{
      color: black;
      height: 34px;
      width: 118px;
      gap: 10px;
      border-radius: 10px;
      border: 0;
      text-align: center;
    }
  }
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 135px;
  .tourCardsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 160vh;
    .tourCardHeader{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 100px;
      .tourCardTitle{
        margin-bottom: 35px;
      }
      .tourCardNavbarContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 700px;
      }
    }
    .tourCardsContainer{
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      height: 100%;
      .tourCard{

      }
      #tourCard1{ background: url("./images/card tour photo-1.png") }
      #tourCard2{ background: url("./images/card tour photo-2.png") }
      #tourCard3{ background: url("./images/card tour photo-3.png") }
      #tourCard4{ background: url("./images/card tour photo-4.png") }
      #tourCard5{ background: url("./images/card tour photo-5.png") }
      #tourCard6{ background: url("./images/card tour photo-6.png") }
    }

  }
}

@media (max-width: 1920px) and (min-width: 1024px){
  .navbarContainer{
    min-width: 910px;
    .headerNavigation{
      min-width: 408px;
    }
  }
  .headTextContainer{
    min-width: 403px;
  }
}

@media (max-width: 1024px){
  .head{
    .header{
      .navbarContainer{
        width: 89%;
        .headerLogo{
          max-width:42%;
        }
        .headerNavigation{
          display: none !important;
        }
      }
    }
    .headTextContainer{
      height: 71%;
      gap: 39.5px;
      .headSubText{
        width: 87%;
        min-width: 310px;
      }
    }
  }

}