.checkbox{
  width: 100%;
  height: 100%;
  appearance: none;
  border: 2px solid #1B1F2B;
  border-radius: 25%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:checked::after{
    content: url("./icons/checkbox tick.svg");
    font-size: 19px;
  }
}

