.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 33px;
  width: 100%;
  min-height: 986px;
  background-color: white;
  border-radius: 50px;
  padding: 70px;
  &__input-field{
    width: 100%;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__input-container{
    width: 100%;
    height: 68px;
  }
  &__commentary-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 2;
    height: 188px;
  }
  &__commentary-container{
    height: 152px;
  }
  &__age-check-field{
    grid-column: span 2;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 64px;
  }
  &__radio-container{
    display: flex;
  }
  &__radio-divider{
    display: flex;
    gap: 11px;
    margin-right: 31px;
  }
  &__user-agreement-field{
    grid-column: span 2;
    display: flex;
    height: 26px;
  }
  &__checkbox-container{
    width: 26px;
    height: 26px;
    margin-right: 19px;
  }
  &__button-field{
    grid-column: span 2;
    height: 58px;
    display: flex;
    gap: 30px;
    width: 48.5%;
  }
}