.tail{
  display: flex;
  justify-content: space-between;
  height: 370px;
  width: 100%;
  gap: 30px;
  &__image{
    background-image: url("./images/footer photo.png");
    border-radius: 50px;
    height: 370px;
    width: 370px;
  }
  &__text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  &__title{

  }
  &__sub-title{

  }
}