.tour-card{
  border-radius: 50px;
  display: flex;
  justify-content: center;
  background-size: cover;
  &__content{
    width: 73%;
    height: 81%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__top{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__title{
  }
  &__price{

  }
}

@for $i from 1 through 6 {
  .tour-card:nth-child(#{$i}) {
    background-image:linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("./images/card tour photo-#{$i}.png");

  }
}