.header{
  display: flex;
  width: 100%;
  position: sticky;
  height: 88px;
  justify-content: center;
  align-items: center;
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 61%;
  }
  &__logo{
    height: 33%;
  }
  &__phone-number{
    color: white;
  }
}